.container{
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  
}
.box{
  display: flex;
  height: 100px;
  width: 100px;
  border: 5px solid black;
  background-color: red;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
  flex-wrap: wrap;
}
.btn1:hover{
  background-color: rgb(119, 119, 221);
  scale: 1.2;
}